.night-orders-container {
  background-image: url(/images/parchment_texture.jpg);
  background-position: 0 -50%;
  font-family: Dumbledor;
  z-index: 1;
  background-size: 200mm;
  box-shadow: inset 0 0 5px #000;
  padding: 2mm;
}

.night-orders-container p {
  width: 26mm;
  text-align: end;
  margin: 0;
  flex-shrink: 0;
  color: #222;
  font-size: 5mm;
}

.night-order:not(:last-child) {
  margin-bottom: 2mm;
}

.night-order {
  padding: 2mm;
  display: flex;
  align-items: center;
  gap: 2mm;
}

.icon-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2mm;
  row-gap: 4mm;
}

.icon {
  width: 6mm;
  height: 6mm;
  object-fit: contain;
  box-sizing: border-box;
  scale: 2.1;
  filter: drop-shadow(0px 0px 2px #2224);
}
