.player-count-container {
  font-family: Dumbledor;
  z-index: 1;
  padding: 4mm;
  box-shadow: inset 0 0 5px #000;
  display: flex;
  gap: 5mm;
  max-width: 130mm;

  flex-direction: row;
  color: #222;
  font-size: 6mm;
}

.player-count-container.with-background {
  background-image: url(/images/parchment_texture.jpg);
  background-position: 0 -50%;
  background-size: 200mm;
}
.count-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-column.titles {
  align-items: end;
}

.good-count {
  color: #00469e;
}
.evil-count {
  color: #580709;
}
