/* Inline | http://localhost:5173/ */

.teensy .teensy-sheet-pair {
  display: flex;
}

/* Inline | http://localhost:5173/ */

.teensy .section-title {
  /* font-size: 4mm; */
  font-size: 3mm;
}

.teensy .appearance-mega-compact .sheet-header span {
  /* font-size: 11mm; */
  font-size: 9mm;
}

.teensy .swirl-divider {
  /* width: 35mm; */
  width: 23mm;
}

.teensy .author-credit {
  max-width: 40mm;
}

.teensy .appearance-super-compact .sheet-header span {
  /* font-size: 12mm; */
  font-size: 10mm;
}

.teensy .player-count-container {
  /* gap: 5mm; */
  /* max-width: 130mm; */
  /* font-size: 6mm; */
  gap: 4mm;
  font-size: 5mm;
}

.teensy .night-orders-container {
  transform-origin: top;
  transform: scale(0.8);
}

.teensy .icon-row {
  flex-wrap: nowrap;
}

.teensy .sheet-backing h1 {
  /* font-size: 30mm; */
  /* word-spacing: -10mm; */
  font-size: 20mm;
  word-spacing: -5mm;
}

.teensy .sheet-header span {
  /* filter: drop-shadow(2px 0px 0px #cb8b); */
  filter: drop-shadow(1px 0px 0px #cb8b);
}

.teensy .info-sheet-section {
  display: flex;
}

.teensy .info-sheet-heading .script-title {
  /* filter: drop-shadow(.2mm .1mm 0 #222d) drop-shadow(0mm 0mm .1mm #2228); */
  filter: drop-shadow(1px 0px 0px #cb8b);
}

/* Inline | http://localhost:5173/ */

.teensy .app {
  /* max-width: 1400px; */
  max-width: 1600px;
}

.teensy .teensy-night-sheet {
  align-self: baseline;
  width: 100%;
}

.teensy .teensy-night-sheet .printable-page:nth-child(2) {
  margin-left: auto;
}
